.card.full {
  margin-left: 25%;
  margin-right: 25%
}

.card.small {
  margin-left: 0;
  margin-right: 0;
}

.notice-para {
  opacity: 0;
  font-size: 16pt;
  padding-top: 10px;
  text-align: center;
  color: black;
  transition: 1.2s
}
